html {
    padding: 0;
    height: 100%;
    margin: 0;

    h2 {
        width: 200%;

        &:last-of-type {
            width: 200px;
        }
    }
}

.asdsad {
    height: 50%;
}

h1 {
    colo: whea
}