.testClass {
    $self: &;
    width: 100%;

    span {
        width: 20px;
    }

    .header {
        &#{$self}-test {
            display: flex;
            flex-direction: column;
        }
    }
}

.qweqwqwe {
    position: absolute;
}